@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="/Group/Index" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Data Importer</a>
</div>
 