<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item">
            <a href="/Group/Index" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>
                    All Groups
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/Group/Create" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>
                    Create Group
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/Group/Contacts" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>
                    Import Histories
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/Group/Exports" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>
                    Export Histories
                </p>
            </a>
        </li>
    </ul>
</nav>