@model DataImporter.Web.Models.Account.RegisterModel
@{
    ViewData["Title"] = "ConfirmEmail";
    Layout = "_Layout";
}
<div class="text-center">
    <h1>ConfirmEmail</h1>
    <h3>
        Thank you for confirming your email.
    </h3>
</div>